<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mphigh.mapper.ApprovalProcessMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mphigh.entity.ApprovalProcess">
        <id column="pid" property="pid" />
        <result column="pname" property="pname" />
        <result column="uid1" property="uid1" />
        <result column="uid2" property="uid2" />
        <result column="uid3" property="uid3" />
        <result column="uid4" property="uid4" />
        <result column="uid5" property="uid5" />
        <result column="uid6" property="uid6" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pid, pname, uid1, uid2, uid3, uid4, uid5, uid6
    </sql>

</mapper>
